[Desktop Entry]
Version=1.0
Name=Dynotest Application Polije
GenericName=Dynotest Application
GenericName[id]=Aplikasi Dynotest
Comment=graphical software Dynotests for Dynotest Polije
Type=Application
Exec=dynotest_app
Icon=dynotest_app
Terminal=false
Categories=Education;
StartupNotify=false
